* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


ul {
    display: flex;
    list-style: none;

}

li {
    margin: 0 23px;
}

.container {
    margin: 40px auto;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.box {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}


.box:hover{
    background-color: rgb(249, 240, 240);
}
footer {
    background-color: red;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}